h1
{
	color: black; 
	font-size: 40px;
}
.body_backgorund {
	background-image: url("bg1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#my_canvas{
background-color: white;
border-style: ridge;
border-width: 10;
}